.container {
  margin: 0 auto;
  width: 1480px;
  display: grid;
  grid-template-columns: 240px 1000px 240px;
  padding-top: 40px;
  padding-bottom: 200px;
  text-align: left;
}

.sticky {
  position: sticky;
  top: 40px;
  right: 0px; 
  left: 0px;
}

.lowOpacity {
  opacity: 0.4;
}

.generateButton {
  width: 120px;
  height: auto;
  padding: 10px; 
  font-size: 16px;
  font-weight: 700;
  background-color: #ffffff;
  color: #1C1C1E;
  border: none;
  border-radius: 4px;
  transition: 0.2s;
}

.generateButton:hover {
  opacity: 0.4;
}

.pageColumn {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 20px;
}

.formColumn {
  display: grid;
  grid-auto-columns: 90px auto;
  grid-auto-flow: column;
}

@media (max-width: 600px) {
  
}
